<div class="center-content">
  <mat-card class="example-card">


    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Create">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Name" value="" [(ngModel)]="todo.name">
          </mat-form-field>

          <button mat-button color="primary" (click)="addTodo()" >Add</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
  <div class="item" *ngFor="let todo of todolist | async">
    <div>user : {{ todo.user }}</div>
    <div>{{ todo.timestamp }}</div>
    <div>{{ todo.name }}</div>
  </div>
</div>

