<div class="center-content">
  <mat-card class="example-card">


    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Create">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Name" value="" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>User</mat-label>
            <input type="text" matInput placeholder="User">
          </mat-form-field>
          <button mat-button color="primary" >Create</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>

